<div class="takui-c-hero-banner-minimal" style="background-image: {{bgImagePath}};">
    <div class="takui-c-site-width">
        <h1 class="takui-c-hero-title">{{contentTitle}}</h1>
    </div>
</div>