<div class="takui-li-profile-edit">
  {{#header}}
  <header>
    <h4>{{name}}</h4>
    {{>atoms-link-with-chevron backAction}}
  </header>
  {{/header}}
  <hr />

  <div class="takui-li-profile-edit-form-wrapper">
    {{>organism-li-profile-edit form}}
  </div>
</div>