{{#> template-li-master-layout }}
<div class="takui-li-content-area">
    <div class="takui-li-main1c">
        {{>molecules-page-title-standard pageTitle=pageTitle}}
        {{>@partial-block}}
    </div>
</div>
{{/template-li-master-layout }}