<div class="takui-c-download-card">
    <div class="takui-c-card-image">
        {{>atoms-card-image cardImage}}
    </div>
    <div class="takui-c-card-content">
        <h3 class="takui-c-card-title">{{title}}</h3>
        <p class="takui-c-card-text">{{cardText}}</p>
    </div>
    <div class="takui-c-card-download">
        {{>atoms-link-with-chevron downloadLink}}
    </div>
</div>