<div class="takui-c-download-card">
    <div class="takui-c-card-image">
        {{>atoms-card-image cardImage}}
    </div>  
    <div class="takui-c-card-download">
        {{>atoms-link-with-chevron downloadLink}}
    </div>
</div>