<div class="takui-c-vertical-card {{#if link}} has-tag {{/if}}">
    <div class="takui-c-card-container">
        <div class="takui-c-card-tag">
            {{>atoms-link-with-chevron link}} 

        </div>
        <div class="takui-c-card-content">
            <h3 class="takui-c-card-title"><a href="{{titleHref}}" target={{titleTarget}}>{{title}}</a></h3>
            <p class="takui-c-card-text">{{cardText}}</p>
        </div>
    </div>
</div>