<div class="grid-1-1">
{{!-- #####################[ Card Image code starts ]###################### --}}
    <div class="takui-card--hero">
        {{#backgroundImageSet}}
            {{>atoms-dynamic-image}}
        {{/backgroundImageSet}}
        {{#if gradientLayer}}
            <div class="takui-card--hero-gradient"></div>
        {{/if}}
        <div class="takui-card-data">
            <div class="takui-card-info top">
                {{#iconWithDateLabel}}
                {{>molecules-icon-with-date-data-rounded-inverted}}
                {{/iconWithDateLabel}}
            </div>
            <div class="takui-card-title">
                {{{ cardTitleText }}}
            </div>
            <div class="takui-card-desc">
                {{{ cardExcerptText }}}
            </div>
            {{#if actionArea }}
            <div class="takui-action-area">
                <div class="takui-action-btn">
                    {{> atoms-anchor-button-outline }}
                </div>
                {{#additionalInfoLink}}
                <div class="takui-action-addn-info">
                    {{> atoms-link-with-chevron }}
                </div>
                {{/additionalInfoLink}}
            </div>
            {{/if }}
        </div>
    </div>
{{!-- #####################[ Card Image code ends ]###################### --}}
</div>