<header class="takui-page-header takui-header-pagetype">
    <div class="takui-header-pageaction">
        <div class="takui-pagetype">
            {{>atoms-icon icon}}
            <span class="takui-pagetype-name">{{pageTitle}}</span>
        </div>
        {{>atoms-anchor-button-with-icon button}}
    </div>
    <h1 class="takui-header-pagetitle">{{ pageTitle }}</h1>
</header>