<div class="row takui-page-title-with-icon">
    <div class="takui-page-title-content">
        {{#icon}}
        {{>atoms-icon}}
        {{/icon}}
        <h5>{{pageTitle}}</h5>
    </div>
    {{#button}}
    {{>atoms-anchor-button-with-icon}}
    {{/button}}
</div>