<div class="takui-bc-player">
  <div class="takui-bci-player">
    <video-js id="{{playerID}}"
      data-video-id="{{videoID}}"
      data-account="{{accountID}}"
      data-player="default"
      data-embed="default"
      data-application-id
      class="video-js"
      controls
      playsinline
      ></video-js>
  </div>
</div>