<section class="takui-podcast">
    <div class="takui-podcast-img">
        {{>atoms-image-1by1 image}}
    </div>
    <div class="takui-podcast-inner">
        <div class="takui-podcast-info">

            <div class="takui-podcast-title">
                {{title}}
            </div>
            <p>{{subtitle}}</p>
        </div>
        <div class="takui-podcast-player">
            {{>atoms-audio-player-brightcove}}
        </div>
    </div>
</section>