<div class="takui-container">
    <div class="takui-comment-container">
        <div class="comment-avatar" style="background-image: url({{backgroundImage}});">
            
        </div>
        <div class="comment-content">
            <div class="header-line"></div>
            <div class="comment-text">
                {{comment}}
            </div>
            <div class="signature">
                - {{signature}}
            </div>
        </div>
    </div>
</div>