{{#back}}
<div class="takui-back-arrow">
    <a href="{{href}}" class="anchor-txt">{{buttonText}}</a>
    {{#icon}}
        {{>atoms-icon-anchor-round iconname=iconName }}
    {{/icon}}
</div>
{{/back}}
