<div class="takui-sidebar-footer">
    {{>molecules-primary-site-navigation navigation}}
    <div class="takui-footer-logo">
        {{>atoms-svg-logo companyLogo}}

        <div class="date-of-preparation">
            <p>{{{dateOfPreparation.text }}}</p>
        </div>
    </div>
</div>