<footer class="he-blocker-footer">
    <div class="he-blocker-logo">
        <img src="../../images/takeda-logo.svg" class="takui-he-wmlogo" loading="lazy">
    </div>
    <div class="he-blockerinfo">
        <p>xxxxx/xxxx/xxxx/0001<br>
            March 2021
        </p>
        <ul class="takui-he-wmlinks">
            <li><a href="#" class="takui-he-wmlink">Privacy Policy</a></li>
            <li><a href="#" class="takui-he-wmlink">Cookie policy</a></li>
            <li><a href="#" class="takui-he-wmlink">Term of use</a></li>
        </ul>
    </div>
</footer>