<div class="takui-sidebar-footer">
    {{>atoms-svg-logo companyLogo}}
    <div class="takui-copyright-info">
        {{>atoms-paragraph text=copyrightField}}
        {{>atoms-paragraph text=approvalId}}
    </div>
</div>