<div class="takui-bh">
    <div class="takui-bh-top">{{ browsing-label }}</div>
    <div class="takui-bh-therapyarea">{{ browsing-therapy-area }}</div>
</div>
<div class="takui-bh-link">
    <a href="{{ browsing-link-url }}">{{ browsing-link }}</a>
</div>