<div class="takui-load-more">
    <p class="label">{{{label}}}</p>
    <div class="takui-load-more-icon">
        <a href="{{url}}">
            {{#icon}}
            {{>atoms-icon }}
            {{/icon}}
        </a>
    </div>
    {{#edge}}
    {{>atoms-edge }}
    {{/edge}}
</div>