<div class="accordion-item accordion-item-transparent-secondary">
    {{#header}}
        <div class="accordion-item-header">
            {{>atoms-link-with-chevron}}
        </div>
    {{/header}}
    <div class="accordion-item-content">
        {{{content}}}
    </div>
</div>