<table class="takui-c-progress">
    <tbody><tr>
        {{#each stages}}
        <td class="takui-c-progress-stage {{#if completed}} completed {{/if}}">
        </td>
        {{/each}}
    </tr></tbody>
</table>