<div class="takui-search-minimal {{ minimalSearchStyleModifier }}">
	<input type="{{inputType}}" autocomplete="{{autocomplete}}" name="{{inputName}}" pattern=".*\S.*" {{#if fieldRequired }}required{{/if}}>
	<button class="search-btn">
		<span>Search</span>
	</button>
</div>