<div class="takui-formctn">
    <div class="Form__Element FormTextbox form__input__wrapper {{displayOption}} ValidationRequired ValidationFail"
        data-epiforms-element-name="__field_1297">
        <label for="437c9c10-0a2e-4bf1-b533-b32f79ee87c3" class="Form__Element__Caption form__label">
            <text>First Name</text>
            <span class="form__required">*</span>
            <span data-epiforms-linked-name="__field_1297" class="Form__Element__ValidationError" style="">This field is
                required.</span>
        </label>
        <input name="__field_1297" id="437c9c10-0a2e-4bf1-b533-b32f79ee87c3" type="text"
            class="FormTextbox__Input form__input" placeholder="Enter first name" data-f-datainput="" required=""
            title="First Name Tooltip" aria-required="true" aria-invalid="true">
    </div>
</div>