<footer class="takui-he-pagefooter">
    <div class="takui-he-tags">
        {{> molecules-page-tags-nolink tags=tags }}
    </div>
    <div class="takui-he-actions">{{> molecules-button-list buttons=actions }}</div>
</footer>