<a href="{{ href }}" role="button" class="takui-btn-outline" id="{{ id }}">
    {{ text }}
    {{#icon}}
    <svg class="takui-ico-svg xs" aria-hidden="true">
        <use xlink:href="{{ iconPath }}"></use>
    </svg>
    {{/icon}}
</a>