<div class="takui-he-contact">
    <div class="takui-he-contactwrapper">
        <div class="takui-formctn">
            {{> molecules-takui-form-element fldEmail}}
            {{> molecules-takui-form-element fldGMCRNID }}
            {{> molecules-takui-form-select fldHPCRole }}
            {{> molecules-takui-form-checkbox-group fldTypeOfQuery }}
            {{> atoms-button-primary btnSubmit }}
        </div>
    </div>
</div>