<div class="takui-he-login">
    <div class="takui-formctn">
        {{> molecules-takui-form-element fldLogin }}
        {{> molecules-takui-form-element fldPassword }}
        {{> atoms-button-primary btnLogin }}
        <div class="takui-he-forgotpwd">
        {{> atoms-link lnkForgotPassword }}
        </div>
    </div>
    <div class="takui-formctn">
        <h2>Not a member?</h2>
        {{> atoms-button-primary btnRegister }}
    </div>
</div>