<div class="takui-li-profile-edit">
    <div class="takui-form-info">
        <div class="takui-formctn">
            {{> molecules-takui-form-select fldTitle }}
            {{> molecules-takui-form-element fldFirstName }}
            {{> molecules-takui-form-element fldLastName }}
            {{> molecules-takui-form-element fldPoW }}
            {{> molecules-takui-form-element fldCity }}
            {{>atoms-link cancelAction}}
            {{>atoms-buttons text=saveAction}}
        </div>
    </div>
</div>