<div>
    {{!-- Click <a  data-open="{{ modalId }}">here</a> to open a {{ modalExampleDisplay }} modal --}}
    <p>Click <a href="#" data-modal-open="{{ modalID }}">here</a> to open a {{ modalExampleDisplay }} modal with buttons</p>
    <small>use <mark><code> data-modal-open="modalID"</code></mark> to open modal on click</small>
    <!-- ######################################## -->
    <!-- Modal code starts from here -->
    {{>organism-h-modal-dialog }}
    <!-- Modal code ends here -->
    <!-- ######################################## -->

</div>
