<div class="takui-highlight-section">
    <div class="highlight-content">
        <div class="highlight-title">
            {{title}}
        </div>
        <div class="highlight-subtitle">
            {{subtitle}}
        </div>
        <div class="highlight-group">
            {{#items}}
                <div class="highlight-item">
                    <div class="highlight-item-icon">
                        <img src="{{icon}}"/>
                    </div>
                    <div class="highligh-item-text">
                        {{text}}
                    </div>
                </div>
            {{/items}}
        </div>
    </div>
</div>