<div class="takui-c-eyebrow-menu">
    <div class="takui-c-site-width">
        <div class="takui-c-eyebrow-logo">
        {{>atoms-svg-logo logo}}
        </div>
        <div class="takui-c-links-container">
            {{>molecules-anchor-list-horizontal items=quicklinks}}
            
            <div class="takui-c-right-search">
                {{>molecules-search search}}
            </div>
        </div>
    </div>
</div>