<div class="takui-c-number-counter">
    {{#each counterItems}}
    <div class="takui-c-counter-item">
        <div class="takui-c-counter-number">{{number}}</div>
        <div class="takui-c-counter-text">{{text}}</div>
    </div>
    {{/each}}
</div>