<div class="takui-engmt-cmt">
    <header class="takui-engmt-header">
        <div class="takui-engmt-name">{{ name }}</div>
        <div class="takui-engmt-date">{{ date }}</div>
    </header>
    <div class="takui-engmt-body">
        <p>{{text}}</p>
    </div>
    <footer class="takui-engmt-footer">
        <span class="takui-engmt-btnLike">
            {{>atoms-link-with-chevron btnLike }}
        </span>
        <span class="takui-engmt-btnReply">
            {{>atoms-link btnReply }}
        </span>
    </footer>
</div>