<div class="takui-engmt-form">
    <div class="takui-formctn">
        {{> molecules-takui-form-textarea taReply}}
        {{> molecules-takui-form-checkbox cbCommentCheck}}
        <div class="takui-engmt-submit">
            {{> atoms-button-primary btnPost }}
        </div>
    </div>
</div>