{{!-- #####################[ Card Carousel code starts ]###################### --}}
<div class="takui-card-primary" style="background-image: url({{backgroundImage}});">
    <div class="takui-card-data">
        <div class="takui-card-item-child">
            <div class="takui-card-title">
                <h6>{{cardTitle}}</h6>
            </div>
            <div class="takui-card-desc">
                {{ cardDesc }}
            </div>
        </div>
    </div>
</div>

{{!-- #####################[ Card Carousel code ends ]###################### --}}