<article class="takui-event-card" style="background-image: url('{{background}}');">
    <div class="">
        {{>molecules-label-icon iconLabel}}
    </div>
    <div class="takui-event-card-title">
        {{title}}
    </div>
</article>