    <div class="takui-sbitem">
        <div class="takui-sbitem-heading">
        {{> atoms-icon iconPath=logo }}
        {{label}}
        </div>
        <p class="takui-sbitem-value">
        {{{ value }}}
        </p>
    </div>