<table class="takui-event-summary">
    <tr>
        <th>{{ lblDateNTime}}</th>
        <th>{{ lblLocation }}</th>
    </tr>
    <tr>
        <td>{{ valDateNTime}}</td>
        <td>{{ valLocation }}</td>
    </tr>
</table>