<div class="takui-li-event-poster">
    {{>molecules-image-with-caption image}}
    {{#details}}
    <div class="takui-li-event-details">
        {{> organism-li-event-sidebar this }}
    </div>
    {{/details}}
</div>