<div class="he-disclaimer">
    <h2>{{ disclaimer.title }}</h2>
    <p>{{ disclaimer.content }}</p>
    <p>
        xxxxx/xxxx/xxxx/0001<br>
        March 2021
    </p>
    <ul>
        {{#each disclaimer.links }}
        <li><a href="{{ this.href }}">{{ this.text }}</a></li>
        {{/each}}
    </ul>
</div>