<div class="takui-accord">
{{#> molecules-content-accordion-element panel-1 }}
{{> atoms-image-3by1 srcPath="../../images/placeholders/image-3by1.png" }}
{{/molecules-content-accordion-element}}
{{#> molecules-content-accordion-element panel-2 }}
This is another accordion
{{/molecules-content-accordion-element}}
</div>
