<div class="takui-ico-date-data">
    {{> atoms-icon-with-bg-round-big }} 
    {{#dataDate}} 
        <span class="takui-action-date">{{{ this }}}</span>
        {{>atoms-text-seperator}}
    {{/dataDate}} 
    <span class="takui-res-type">{{{ dataLabel }}}</span>
</div>