<div class="takui-video takui-video-brightcove">
  {{> molecules-brightcove-video video}}
  {{> molecules-brightcove-video-transcript transcript=transcript }}
  {{> molecules-brightcove-transcript-closer }}
</div>