<div class="takui-grid-block">
  {{#each gridBlockItems }}
      <li class="takui-grid-block-item grid-1-3">
        {{#if primary }}
           {{> molecules-card-primary }}
        {{else}}
            {{> molecules-card-secondary }}
        {{/if}}
      </li>
  {{/each}}
</div>
