<div class="takui-he-wm">
    <div class="takui-he-wmimg">
        <img src="../../images/takeda-logo.svg" class="takui-he-wmlogo">
    </div>
    <ul class="takui-he-wmlinks">
        <li><a href="#" class="takui-he-wmlink">Privacy Policy</a></li>
        <li><a href="#" class="takui-he-wmlink">Cookie policy</a></li>
        <li><a href="#" class="takui-he-wmlink">Term of use</a></li>
    </ul>
</div>