<div class="takui-c-page-sub-navigation {{#if isBottom}} is-bottom-nav {{/if}}">
    <div class="takui-c-sub-nav-container takui-c-site-width">
        <div class="takui-c-mobile-curr-page">
            {{>atoms-icon}} <span>{{activePage}}</span>
        </div>
        {{>molecules-anchor-list-horizontal-nav items=navItems}}
    </div>
</div>