<article class="takui-c-article-linked">
    <div class="takui-c-article-content">
        <div class="takui-c-article-date">{{ date }}</div>
        <a class="takui-c-article-linked-text" href="{{href}}" target="{{target}}"><span>{{text}}</span>{{>atoms-icon}}</a>
    </div>
</article>