<article class="takui-c-linked-article-with-image">
    <div class="takui-c-article-image">
        <div class="takui-c-article-image-wrapper">
            {{>atoms-image image}}
        </div>
    </div>

    <div class="takui-c-article-main">
        {{>organism-c-article-linked}}
    </div>
</article>