<article class="takui-c-article-simple {{designOptions}}">
    <div class="takui-c-article-content">
        <div class="takui-c-article-date">
            {{ date }}
        </div>
        {{>atoms-paragraph}}
    </div>
    <div class="takui-c-article-link">
        {{>atoms-link-with-chevron}}
    </div>
</article>