<section class="takui-c-news-releases">
    {{#each periods}}
    <h3 class="takui-c-period-title">{{title}}</h3>
    {{#each articles}}
    {{>organism-c-article-linked}}
    {{/each}}
    {{/each}}
</section>