<section class="takui-c-recent-news-releases">
    {{#each articles}}
    {{>organism-c-article-linked}}
    {{/each}}
    <div class="takui-c-action-button">
        {{>atoms-anchor-button-with-icon actionButton}}
    </div>
</section>