<ul class="takui-engmt-threads">
    <li class="takui-engmt-post">
        {{> molecules-engmtcmt comment-1 }}
        <ul class="takui-engmt-replies">
            <li class="takui-engmt-reply">
                {{> molecules-engmtcmt reply-1 }}
            </li>
            <li class="takui-engmt-reply">
                {{> molecules-engmtcmt reply-2 }}
            </li>
        </ul>
    </li>
    <li class="takui-engmt-post">
        {{> molecules-engmtcmt comment-2 }}
    </li>
</ul>
{{> molecules-engmt-form engagement-form }}