<div class="takui-aoi-selector">
    <ul class="takui-aoi-list">
        {{#each aois }}
        <li class="takui-aoi-item">{{> atoms-anchor-button-gray this }}</li>
        {{/each}}
    </ul>
</div>